@import url("./MessageFeed.css");
@import url("./MessageInputs.css");
@import url("./SearchNav.css");

/* Main */

.chat-interface-main-wrapper{
    margin-top:40px !important;
    display:flex;
    flex-flow:row nowrap;
    margin:0 auto;
    justify-content: center;
    /* border-radius: 20px !important;
    overflow: hidden !important; */
}
.chat-interface-main-wrapper ul li{
    list-style: none;
}
.chat-interface-main-column{
    background-color: rgb(42, 42, 42);
    display:flex;
    flex-flow:column nowrap;
}


/* Left Column */


.chat-interface-main-left-column{
    padding:30px;
    width:300px;
}
.chat-interface-smoke-signal-wrapper{
    background-color:black;
    border-radius:40px;
    height:280px;
}
.chat-interface-team-management-wrapper{
    display:flex;
    flex-flow:column;
    align-items: center;
}

.chat-iterface-section-divider{
    margin: 10px 0 !important;
    padding:0 !important;
    border-color:rgb(64, 64, 64);
    width:100px;
}
.chat-interface-team-management-wrapper h2{
    padding:5px;
    font-weight: 600;
    margin-bottom:5px;
    font-family:"Maven Pro";
    font-size: 16px !important;
    color:rgb(135, 135, 135) !important;
}
.chat-interface-create-buttons-wrapper{
    margin-top:10px;
    width:270px;
    display: flex;
    justify-content: space-between;
}


/* Right Column */


.chat-interface-main-right-column{
    width:1000px;

}

.chat-interface-no-channel-selected-wrapper{
    display:flex;
    justify-content: center;
    align-items: center;
    height:100%;
}
.chat-interface-no-channel-selected-wrapper h1{
    color:whitesmoke !important;
}
