.chat-interface-message-feed{
    background-color:rgb(66, 66, 66);
    width:100%;
    height:600px;
    padding:20px 0;
    overflow-y: auto;
}
.chat-interface-message{
    padding:0 20px;
}
.chat-interface-message-button-wrapper{
    display:flex;
    align-items: center;
}
.chat-interface-message-button-wrapper button{
    margin:0 !important;
    margin-left:10px !important;
}

.chat-interface-message-body{
    background-color: rgb(112, 112, 112);
    padding:20px;
    border-radius:10px;
}
.chat-interface-message-details{
    display:flex;
    width:400px;
    margin:20px 40px;
    justify-content: space-around;
}
